{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}
    <h1>Inventaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inventory.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ inventory.itemType }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ inventory.quantity }}</td>
            </tr>
            <tr>
                <th>Équipe</th>
                <td>{{ inventory.team ? inventory.team.teamName : '—' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_inventory_index') }}">Liste</a>

    <a href="{{ path('app_inventory_edit', {'id': inventory.id}) }}">Modifier</a>

    {{ include('inventory/_delete_form.html.twig') }}
{% endblock %}
