{% extends 'base.html.twig' %}

{% block title %}Page des équipes{% endblock %}

{% block body %}
    <h1>Page des équipes</h1>
{% for team in teams %}
    <article>
        <h2>{{ team.teamName }}</h2>
        <a href="{{ path('team_show', { id: team.id }) }}">Voir {{ team.teamName }}</a>
        <a href="{{ path('team_update', { id: team.id }) }}">Modifier {{ team.teamName }}</a>
        <form action="{{ path('team_delete', { id: team.id }) }}" method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
            <button type="submit" class="btn btn-danger">Supprimer {{ team.teamName }}</button>
        </form>
    </article>
{% endfor %}
<br>
<a href="{{ path('team_new') }}">Créer une équipe</a>
{% endblock %}
