{% extends 'base.html.twig' %}

{% block title %}Page des équipes{% endblock %}

{% block body %}
    <h1>Page des équipes</h1>
{% for teams in teams %}
    <article>
        <h2>{{ teams.teamName }}</h2>
        <a href="{{ path('team_show', { id: teams.id }) }}">Voir l'équipe {{ teams.teamName }}</a>
        <a href="{{ path('team_update', { id: teams.id }) }}">Modifier l'équipe {{ teams.teamName }}</a>
        <form action="{{ path('team_delete', { id: teams.id }) }}" method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teams.id) }}">
            <button type="submit" class="btn btn-danger">Supprimer l'équipe {{ teams.teamName }}</button>
        </form>
    </article>
{% endfor %}
<p class="page-toolbar"><a href="{{ path('team_new') }}" class="btn btn-primary">Créer une équipe</a></p>
{% endblock %}
